@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Source Sans Pro, sans-serif;
}

body{
    background-color: rgb(184,119,169);
}

.container{
    display: block;
    align-items: center;
    margin-top: 1.5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.navigation-buttons{
    margin-left: auto;
    margin-right: auto;
    height: 2.5rem;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    margin-top: 2%;
    cursor: pointer;
}

.all-buttons{
    color: rgb(184,119,169);
    border:solid 0.5px rgb(184,119,169);
    background-color: white;
}

/*Heading Section*/

.site-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.site-logo{
    text-align: center;
    margin-bottom: 1%;
}

.site-title{
    text-align: center;
    width: 90%;
    padding-top: 1%;
    border-left: rgb(184,119,169) solid 1px;
}

#banner-title-text{
    font-family:Lato, sans-serif;
    font-size: 1.75rem;
    color: rgb(12,173,149);
}

#banner{
    width: 80%;
}

.enter-username{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

#username-input{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    height: 2rem;
    padding-left: 1%;
    border-bottom: solid black 0.5px;
}

.username-break{
    display: none;
}

/* media query for header */

@media only screen and (max-width: 480px) {
    .site-header{
        flex-direction: column;
    }
    .site-title{
        border-left:none;
        border-top: rgb(184,119,169) solid 1px;
        padding-top: 2%;
        margin-top: 2%;
        margin-bottom: 1.5%;
        width: 90%;
    }

        #banner-title-text{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 720px) {
    .site-header{
        flex-direction: column;
    }
    .site-title{
        border-left:none;
        border-top: rgb(184,119,169) solid 1px;
        padding-top: 2%;
        margin-top: 2%;
        width: 90%;
    }
    #banner-title-text{
        font-size: 1.5rem;
    }
}

/*Language Points*/

.language-points{
    width: 90%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

#instructions-message{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Lato, sans-serif;
    color: rgb(12,173,149);
    margin-bottom: 2%;
    text-align: center;
}
.point{
    font-weight: bold;
}

.description{
    font-style: italic;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.key-language{
    color:rgb(12,173,149);
    font-weight: bolder;
    text-decoration: underline;
}

hr{
    border-top: solid gray 0.5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

#ready-message{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Lato, sans-serif;
    margin-bottom: 2%;
    text-align: center;
}
.start-button-div{
    width: 100%;
    text-align: center;
}
#start-button{
    margin-left: auto;
    margin-right: auto;
}

#reading-text{
    margin-left: 5%;
    margin-right: 5%;
}

.exercise-instructions{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Lato, sans-serif;
    color: rgb(12,173,149);
    margin-bottom: 2%;
    text-align: center;
}

/*Media query for langauge points*/

@media only screen and (max-width: 480px) {
    .langauge-point-hr{
        margin-top:5%;
        margin-bottom:5%
    }
}

/*question container*/

.question-box{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.question{
    width: 98%;    
    padding-left: 1%;
}

#quiz-questions{
    margin-bottom: 5%;
}

.buttons{
    width: 100%;
    text-align: left;
    height: 2.5rem;
    padding-left: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    cursor: pointer;
}

.answer-options {
    font-family: Lato;
    font-weight: bold;
}


@media only screen and (max-width: 480px) {
    #quiz-questions{
        margin-top: 2%;
        font-size: small;
    }
}

/*score and progress counter*/

.score-and-progress-counter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: small;
}

#horizontal-break-in-questions{
    display: none;
}

.current-score{
    width: 100%;
}
.questions-remaining{
    width: 100%;
}

.running-totals{
    width: 99%;
    border-radius: 5px;
    margin-top: 5%;
    color: rgb(184,119,169);
    border:solid 0.5px rgb(184,119,169);
    background-color: white;
    text-align: center;
}

.button-break{
    display: none;
}
/*Media query for score and progress counter*/

@media only screen and (max-width: 480px) {
    .score-and-progress-counter{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    #horizontal-break-in-questions{
        margin-top: 5%;
        display: block;
    }
    .button-break{
        display: block;
    }
}

/*Answer section*/

.answer-descriptions{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.restart-quiz-button-box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*Feedback container*/

.final-score{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Lato, sans-serif;
    color: rgb(12,173,149);
    margin-bottom: 2%;
    text-align: center;
    font-weight: bold;
}
.feedbackImage{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.restart-and-answers-box{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.restart-quiz-button-box{
    width: 48%;
    margin-left: auto;
    margin-right: auto;
}

.show-answers{
    width: 100%;
}



/*Element IDs for JS Functions*/
#username-container{
    display: block;
}

#language-point-container, #reading-container, #question-container, #feedback-container, #answers-container, #feedback-image-zero-marks, #feedback-image-full-marks, #feedback-image-not-bad{
    display:none;
}
